{% extends "user/base.html" %}
{% block content %}
		<div class="contain">

  <div class="wrapper">
    <div class="contacts"  style ='background: rgb(101, 21, 49);'>
		<img src="https://i.imgur.com/0PkpIbm.png" class="security_logo">
		<p>
			Zalogowany/na jako: {{ user.get_username }}
		</p>
     <p>Jeśli napotkałeś problemy zwiazane z działaniem strony możesz skontaktować się z nami poprzez:</p>
		<p>
			email: bezpieczneprzedsiebiorstwo@security.com 
		  </p><p>
			telefon: 8000345000
		  </p>
		    <div class="btn-area">
        <a class ='btn' href='{% url 'admin-ended' %}'>Zakończone sprawy</a>
        </div>
		<div class="btn-area">
        <a class ='btn' href='{% url 'admin-panel' %}'>Wróć</a>
        </div>
		    <div class="btn-area">
        <a class ='btn' href='{% url 'logout' %}' >Wyloguj</a>
        </div>
    </div>
<div class="jumbotron">
            {% if sprawa.count == 0 %}
            <h2 class="h1-responsive">Brak aktywnych zgłoszeń do wyświetlenia</h2>
            <hr class="my-2">
        {% else %}
    <h2 class="h1-responsive">Aktywnye zgłoszenia do wyświetlenia</h2>
    <hr class="my-2">
            <div class = 'case-blocks'>
                {% for sprawy in sprawa %}
		<div class = 'case'>
<div class='case-text'>

				Incydent z dnia: {{ sprawy.id_zgloszenie.data_wystapienia }}
<br />
				Zgłoszony przez: {{ sprawy.id_zgloszenie.id_uzytkownik.id_osoba }}
<br>
                Rodzaj zdarzenia: {{ sprawy.id_zgloszenie.id_rodzaj_zdarzenia.nazwa }}
<br />
                Kontakt: {{ sprawy.id_zgloszenie.id_uzytkownik.id_osoba.kontakt }}

</div>
			<div>
				<div class="btn-area btn-case" style="padding: 5px 5px;">
        <a class ='btn' href="{% url 'admin-more' sprawy.pk %}" style="padding: 10px;">Wyświetl szczegóły sprawy</a>
        </div>
			<div class="btn-area btn-case" style="padding: 5px 5px;">
        <a class ='btn' href='{% url 'admin-raport' %}' style="padding: 10px;">Wygeneruj raport</a>
        </div>
			</div>

		</div>
                {% endfor %}
		</div>
        {% endif %}
        <div class="pagination" align="center">
            {% if sprawa.has_previous %}
            <a href="?page=1"><<<</a>
            <a href="?page={{ sprawa.previous_page_number }}"><<</a>
            {% endif %}
            {% for num in sprawa.paginator.page_range %}
                {% if sprawa.number == num %}
                <strong>{{ num }}</strong>
                {% elif num > sprawa.number|add:'-3' and num < sprawa.number|add:'3' %}
                    <a href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}
            {% if sprawa.has_next %}
                <a href="?page={{ sprawa.next_page_number }}">>></a>
                <a href="?page={{ sprawa.paginator.num_pages }}">>>></a>
            {% endif %}
        </div>

  </div>
{% endblock %}