{% extends "user/base.html" %}
{% block content %}
		<div class="contain">
			 <div class="wrapper" >
    <div class="contacts" style='background: rgb(101, 21, 49);'>
		<div class="contacts-form">
		<img src="https://i.imgur.com/0PkpIbm.png" class="security_logo">
     <p class='information'>Zalogowany/na jako: {{ user.get_username }} <br /> <br />

			<div class="buttons-area">
				<div class="btn-area btn-form">
        <a class ='btn' href='{% url 'admin-active' %}'>Aktywne zgłoszenia</a>
        </div>
		    <div class="btn-area btn-form">
        <a class ='btn' href='{% url 'admin-ended' %}' >Zakończone sprawy</a>
        </div>
		<div class="btn-area btn-form">
        <a class ='btn' href='{% url 'admin-panel' %}' >Wróć</a>
        </div>
		    <div class="btn-area btn-form">
        <a class ='btn' href='{% url 'logout' %}' >Wyloguj</a>
        </div>
	
		</div>
			</div>
    	 <div class="space"></div>

    </div>
<div class="jumbotron small_font">
   <!-- <div class="form noti-form">
      <h3>Formularz</h3> -->
      <form action="">
        <p class="form-input">
          <label for="">Imię i nazwisko nowego użytkownika</label>
          <input type="text">
        </p>
        <p class="form-input">
          <label for="">ID pracownika</label>
          <input type="text">
        </p>
			<p class="form-input">
			  <label for="">Stanowisko</label> <br />
				<select name="Dostepnosc">
				<option value ="none">Zwykły użytkownik</option>
				<option value ="guava">Konsultant</option>
				<option value ="lychee">Administrator</option>
				</select> 
		  </p>
			<p class="form-input">
          <label for="">Hasło użytkownika</label>
          <input type="text">
        </p>
		  	<div class="buttons-area">
		<div class="btn-area btn-case" margin='auto'>
        <a class ='btn' href='{% url 'admin-panel' %}' >Utwórz</a>
        </div>
		  </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}