{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>CSZI</title>
	<link href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
</head>
<body>
    {% block content %}
    {% endblock %}
	<footer class="page-footer font-small teal pt-4">
  	<div class="container-fluid text-center text-md-left">
	<div class="row">
		<hr class="clearfix w-100 d-md-none pb-3">
     	 <div class="col-md-6 mt-md-0 mt-3 text_footer">
        	<h5 class="text-uppercase">Nasz cel</h5>
        	<p>Ta strona jest poświecona rozwiązywaniu problemów związanych z incydentami bezpieczeństwa w naszym przedsiębiorstwie. Aby zgłosić problem zaloguj się a następnie wypełnij formularz.</p>
			<p>© 2020 Copyright: MDBootstrap.com</p>
		</div>
      	<div class="col-md-6 mb-md-0 mb-3 text_footer">
        	<h5 class="text-uppercase font-weight-bold">Kontakt</h5>
        	<p>Jeśli napotkałeś problem podczas zgłaszania incydentu możesz skontaktować się z nami poprzez:</p>
			<p>
			email: bezpieczneprzedsiebiorstwo@security.com
		  </p><p>
			telefon: 8000345000
		  </p>

     	 </div>
    </div>
  	</div>
	</footer>
</body>
</html>