<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>CBZI</title>
	<link href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
			    
</head>
    <body>
    <div class="crumbs-areaa">

        <div class="container">
            <div class="row">
				<img src="https://proxy-eu-central1.goorm.io//service/5e790e3c932c6155ff16c627_dkleLseYcjAH3neI6ZC.run-eu-central1.goorm.io/9080//file/load/sky.jpg?path=d29ya3NwYWNlJTJGUHJvamVrdFplc3BvbG93eSUyRnNreS5qcGc=&docker_id=dkleLseYcjAH3neI6ZC&secure_session_id=Q6Kb2pIb3x4TDHdCM2dkaFrtGt0_WvMr" class="sky" align="right">
                <!-- <div class="col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12"> -->
                    <div class="crumbs-header">
                        <h2 class="cd-headline letters rotate-3">
                            <span class="cd-words-wrapper">
                                <b class='title'>Witaj na stronie centralnego systemu zarządzania incydentami</b>
                            </span>
                        </h2>
                        <p>Dalsza zawartość strony dostępna będzie po zalogowaniu się</p>
                        <div class="btn-area">
                            <a class ='btn' href='login' >Zaloguj się</a>
                        </div>
						
                    <!-- </div> -->
                </div>
            </div>
        </div>
    </div>
		
		<!-- Footer -->
<footer class="page-footer font-small teal pt-4">

  <!-- Footer Text -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">
<hr class="clearfix w-100 d-md-none pb-3">
      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3 text_footer">

        <!-- Content -->
        <h5 class="text-uppercase">Nasz cel</h5>
        <p>Ta strona jest poświecona rozwiązywaniu problemów związanych z incydentami bezpieczeństwa w naszym przedsiębiorstwie. Aby zgłosić problem zaloguj się a następnie wypełnij formularz.</p>
		<p>© 2020 Copyright: MDBootstrap.com</p>

      </div>
      <!-- Grid column -->



      <!-- Grid column -->
      <div class="col-md-6 mb-md-0 mb-3 text_footer">

        <!-- Content -->
        <h5 class="text-uppercase font-weight-bold">Kontakt</h5>
        <p>Jeśli napotkałeś problem podczas zgłaszania incydentu możesz skontaktować się z nami poprzez:</p>
		<p>
			email: bezpieczneprzedsiebiorstwo@security.com 
		  </p><p>
			telefon: 8000345000
		  </p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Text -->

  <!-- Copyright -->
  <!-- Copyright -->

</footer>
<!-- Footer -->
		

    </body>
</html>