<!DOCTYPE html>
<html lang="en">   
	<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>CBZI</title>
	<link href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
	</head>	
    <body>
    <div class="crumbs-area row col-md-12 col-sm-10 col-xs-12 login">
			<div class="login-page">
				<div class="form">
    				<form class="login-form">
    					<input type="text" placeholder="login"/>
    					<input type="password" placeholder="hasło"/>
						<div class="btn-area" margin='3%'>
                        	<a class ='btn' >Zaloguj się</a>
                        </div>
      					<p class='message'>Nie masz konta? Skontaktuj się z administratorem</p>
    				</form>
 				 </div>
        </div>
    </div>
    </body>
</html>