<!DOCTYPE html>
<html lang="en">   
	<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>CBZI</title>
	<link href="https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
	</head>	
    <body class='background'>
		<div class="contain">

  <div class="wrapper">
    <div class="contacts">
     <p>Jeśli napotkałeś problem podczas zgłaszania incydentu możesz skontaktować się z nami poprzez:</p>
		<p>
			email: bezpieczneprzedsiebiorstwo@security.com 
		  </p><p>
			telefon: 8000345000
		  </p>
    </div>

    <div class="form noti-form">
      <h3>Formularz</h3>
      <form action="">
        <p>
          <label for="">Osoba Zgłaszająca</label>
          <input type="text" placeholder="Imię i nazwisko">
        </p>
        <p>
          <label for="">Data i godzina stwierdzenia</label>
          <input type="datetime">
        </p>
        <p>
          <label for="">Data i godzina zaistnienia</label>
          <input type="datetime">
        </p>
        <p>
          <label for="">Cośtam jeszcze</label>
          <input type="text">
        </p>
        <p class="full-width">
          <label for="">No i napisz sobie coś</label>
          <textarea name="" id="" cols="30" rows="7"></textarea>
        </p>
        <div class="btn-area" margin='3%'>
        <a class ='btn' href='https://projektzespolowy-eqoyl.run-eu-central1.goorm.io' >Wyślij</a>
        </div>
      </form>
    </div>
  </div>
</div>
    </body>
</html>
